<h1>New Record</h1>
<%= form_tag(photos_path) do %>
    
  
    <label for="caption">
        Caption: <input type="text" id="caption" name="caption">
    </label>
    
     <label for="photo">
        Photo URL: <input type="text" id="photo" name="photo">
    </label>

    <input type="submit">

    
<% end %>